/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
  margin: 0;
}

html, body, #layout {
  font-family: 'Montserrat', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  position: relative;
  text-align: center;
  background-color: #FDF8F2;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  font-weight: normal;
  font-size: 50px;
}
#login {
  background-color: #ffcc00;
  height: 30px;
  width: 350px;
  line-height: 30px;
  margin: 0 auto;
  padding: 5px;
}
#login a {
  color: #FDF8F2;
  text-decoration: none;
}
#login:hover {
  cursor: pointer;
}
#login span {
  position: relative;
  top: -9px;
}
#login img {
  padding: 0px 5px;
}
#load {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 10px;
}
button {
  background: rgba(100,100,100,0.2);
  border: none;
  font-family: 'Montserrat', 'Helvetica-Neue', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  width: 100px;
  color: #333333;
}
button:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
.active {
  background: #333333;
  color: rgba(250,250,250,1);
}
#pint {
  position: absolute;
  top: 0;
  z-index: 50;
}
#vis {
  position: relative;
  margin: 0 auto;
  width: 350px;
}
.overlay {
  position: absolute;
  z-index: 60;
  top: 0;
  left: 0;
}
.label {
  position: absolute;
  left: 350px;
  background-color: #F79400;
  padding: 2px 6px;
}
#footer {
  position: absolute;
  padding: 5px 5px;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
#footer:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}